.sideBar {
    width: 12%;
    text-align: center;
    opacity: 0.9;
    background-image: url("../../images/2880x1800_993954_[www.ArtFile.ru].jpeg");
}
.sideBar a {
    text-decoration: none;
    color: #a1a1a1;
    font-weight: 700;
}


.sideBar-light {

    background-image: url("../../images/leftSideBarLight.jpg");
}