.layout{
    display: flex;
    width: 86%;
    height: 800px;
    position: absolute;
    top: 100px;
    left: 110px;
    background: #ededed;
    border-radius: 30px;

}
.wrapOutletAndHeader{
    width: 76%;
    background-image: url("../../images/svetlyy-debian.jpg");
}

.wrapOutletAndHeader-light {
    background: #ffffff;
}