.App{
    background-image: url("./images/2880x1800_993954_[www.ArtFile.ru].jpeg");
    min-height: 1080px;
    display: flex;
    justify-content: center;
    position: relative;
    color: #bbbbbb;
}
.app-light{
    background-image: url("./images/BackLight.jpg");



}
.app-light p,.app-light h3,.app-light li,.app-light ol h4{
    color: #d1d1d1;
}
